screen size = laptop 13"

search through names / phone numbers / email / address / component
check boxes on all 

Clients
Married/Partner checkbox - if yes, then add a second option for the other person/sname, address, etc
His/Her Names
Existing Address/New Address
His/Her Home Email
His/Her Work Email
His/Her Mobile Number
His/Her Home Number
His/Her Work Number
caretaker name/email/phone

vendors
company - sometimes more than one contact
address
contact
phone
email
account number

Builder list and Designer list - see spreadsheet that has all the headings I need




systems - needs to be secured
join date
ready date
email
service package
panel type


AV Systems
Security Systems
Camera Systems
Lighting Control System
Network System
Other - text box to add in what 'Other' is